body > header {
  border-bottom: 1px solid $darkish-color;

  // flex
  display: flex;

  .item {
    letter-spacing: 1px;

    transition: background-color $anim-time;

    display: block;

    &:hover {
      background-color: $darkish-color;
    }

    &.active {
      color: $accent-color;
    }
  }

  .item.logo {
    padding: 1em;

    @include mobile {
      padding: 0.5em;
    }

    > img {
      display: block;
      width: 60px;

      @include mobile {
        width: 40px;
      }
    }
  }

  .item.text {
    @include monospace-font($size: 1.6em);

    padding: 0 2rem;

    // flex
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      font-size: 1.2em;

      padding: 0 0.75rem;
    }
  }
}
