.header {
  border-bottom: 1px solid $darkish-color;

  // flex
  display: flex;
}

.header-item {
  font-size: 1.6em;
  letter-spacing: 1px;

  transition: background-color $anim-time;

  display: block;

  &:hover {
    background-color: $darkish-color;
  }

  &:not(:first-child) {
    padding: 0 2rem;

    // flex
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      padding: 0 0.75rem;
    }
  }

  &.active {
    color: $accent-color;
  }

  @include mobile {
    font-size: 1.2em;
  }
}

.header-logo-item {
  padding: 1rem;

  @include mobile {
    padding: 0.5rem;
  }
}

.header-logo {
  display: block;
  width: 60px;

  @include mobile {
    width: 40px;
  }
}
