@import java.time.LocalDate

<footer class="footer">
    <div class="footer-item">
        &copy; @LocalDate.now.getYear PCLab, Inc.
    </div>
    <div class="flex-fill"></div>
    <a class="footer-item footer-link-item" href="@routes.HomeController.index">
        About
    </a>
    <a class="footer-item footer-link-item" href="@routes.HomeController.index">
        Legal
    </a>
    <a class="footer-item footer-link-item" href="@routes.HomeController.index">
        Contact
    </a>
</footer>
