@import db.models.components.{ComponentWithParent, ComponentWithRelated}
@import db.models.properties.FormFactorUtils._

@(name: String, component: String, components: Seq[ComponentWithRelated[_ <: ComponentWithParent]])

<section class="lab-section">
    <header>
        <div class="line"></div>
        <p>@name</p>
        <div class="line"></div>
    </header>

    <main>
        @for(c ← components) {
            <div is="@component-tile" component-id="@c.parent.id" inline-template>
                <div class="tile" :class="{ active: active }" v-on:click="select" style="background-image: url(@routes.Assets.versioned(s"images/components/${c.parent.previewImgHash}.jpg"))">
                    <header>
                        <div class="nametag">
                            <h2 class="text brand">@c.parent.brand</h2>
                            <h1 class="text name">@c.parent.name</h1>
                        </div>
                        <img src="@routes.Assets.versioned("images/arrow.svg")" height="20px"/>
                    </header>
                </div>

                @*<main>*@
                    @*<ul>*@
                        @* @c match {*@
                            @*case c: ChassisWithRelated => {*@
                            @*}*@
                            @*case p: ProcessorWithRelated => {*@
                            @*}*@
                            @*case m: MotherboardWithRelated => {*@
                            @*}*@
                            @*case g: GraphicsCardWithRelated => {*@
                            @*}*@
                            @*case m: MemoryStickWithRelated => {*@
                            @*}*@
                            @*case c: CoolingSolutionWithRelated => {*@
                            @*}*@
                            @*case s: StorageDeviceWithRelated => {*@
                            @*}*@
                            @*case p: PowerSupplyWithRelated => {*@
                            @*}*@
                        @*}*@
                    @*</ul>*@
                @*</main>*@
            </div>
        }
    </main>
</section>
