.build-section {
  margin: 2em 0;
}

.build-header {
  border-left: 3px solid $accent-color;

  padding-left: 1rem;
}

.build-heading {
  font: bold 2em/1 $normal-font;

  margin: 0;
}

.build-desc {
  font: 1em/1.5 $normal-font;
}

.build-chooser {
  /** flex **/
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

$item-width: 15em;

.build-chooser-item {
  border: 1px solid darken($accent-color, 15%);
  cursor: pointer;
  overflow: hidden;

  transition: box-shadow 0.2s;

  width: $item-width;
  margin: 2em;

  &:not(.disabled) {
    &:hover {
      box-shadow: 0 0 10px $dim-element-color;
    }

    &.selected {
      box-shadow: 0 0 20px $accent-color;
    }
  }

  * {
    transition: color 0.2s;
  }

  img {
    transition: opacity 0.2s;
  }

  &.disabled {
    border-color: $dim-element-color;
    cursor: default;

    * {
      color: $dim-element-color;
    }

    img {
      opacity: 0.25;
    }
  }
}

.build-chooser-item-img {
  width: $item-width;
}

.build-chooser-item-heading {
  font: 1.25em/1.2 $normal-font;

  margin: 0.75rem;
}

.build-chooser-item-price {
  color: $dim-color;
}

.build-chooser-item-features {
  font: 1em/1.5 $normal-font;
  list-style: circle;

  margin: 0 0 0.75rem 0;
}

.build-chooser-item-quantity {
  margin: 1em 0.25em 0.25em 0.25em;

  /* flex */
  display: flex;
}

.build-chooser-item-quantity-button {
  border: none;
  color: #fff;
  font: bold 2em/2rem $normal-font;
  outline: none;

  width: 4rem;
  height: 2rem;
  text-align: center;

  &.subtract {
    background-color: $dim-element-color;

    &:hover {
      background-color: darken($dim-element-color, 5%);
    }
  }

  &.add {
    background-color: $accent-color;

    &:hover {
      background-color: darken($accent-color, 5%);
    }
  }
}

.build-chooser-item-quantity-text {
  font: bold 1em/2rem $normal-font;

  text-align: center;

  /* flex */
  flex-grow: 1;
}
