@mixin page-section-container($flex: true) {
  max-width: $content-width;
  margin: auto;
  padding: 1em;

  @if $flex {
    display: flex;
    align-items: center;
  }
}

.flex-fill {
  flex-grow: 1;
}