// dimensions
$content-width: 70em;

// fonts
$display-font: 'Inconsolata', monospace;
$paragraph-font: 'Source Sans Pro', sans-serif;

// colors
$accent-color: #61d43a;
$dark-color: #262626;
$dim-color: #97a9b1;
$light-color: #f9f9f9;

// timings
$anim-time: 0.2s;