// dimensions
$content-width: 70em;

// fonts
$heading-font: Ravenscroft, sans-serif;
$normal-font: Source Sans Pro, serif;

// colors
$accent-color: #00dddb;
$dim-color: #999;
$dim-element-color: #bbc;
