@import "variables";
@import "helpers";
@import "partials/partials";

* {
  box-sizing: border-box;
}

html, body {
  background-color: $dark-color;
  color: $light-color;
  font: $display-font;

  margin: 0;
  padding: 0;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}