@import "variables";
@import "helpers";

// partials
@import "header";
@import "footer";

// pages
@import "build";

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;

  margin: 0;
}
