// dimensions
$content-width: 70em;
$bar-item-spacing: 1em;
$bar-vert-spacing: 1em;
$bar-hori-spacing: 1em;
$bar-border-size: 3px;

// fonts
$heading-font: Gidole, sans-serif;
$normal-font: Quattrocento Sans, sans-serif;

// colors
$accent-color: #61d43a;
$dark-color: #33333a;
$dark-text: #333;
$dim-color: #999;
$light-color: #f4f4f4;

// timings
$anim-time: 0.2s;
