// dimensions
$content-width: 70em;
$bar-vert-spacing: 1em;
$bar-hori-spacing: 1em;
$bar-border-size: 3px;
$flex-item-spacing: 2em;
$product-width: 15em;
$product-padding: 1em;
$product-selected-box-shadow-width: 15px;

// fonts
$heading-font: 'PT Sans Narrow', sans-serif;
$normal-font: 'PT Sans', sans-serif;

// colors
$accent-color: #61d43a;
$dark-accent-color: darken($accent-color, 10%);
$dark-color: #33333a;
$dark-text: #333;
$dim-color: #999;
$light-accent-color: lighten($accent-color, 5%);
$light-color: #f4f4f4;
$light-dark-color: lighten($dark-color, 5%);
$subtle-accent-color: transparentize($accent-color, 0.9);
$light-subtle-accent-color: lighten($subtle-accent-color, 10%);

// timings
$anim-time: 0.2s;

// other
$disabled-opacity: 0.3;
