// dimensions
$content-width: 70em;
$bar-item-spacing: 1em;
$bar-vert-spacing: 1em;
$bar-hori-spacing: 1em;
$bar-border-size: 3px;

// fonts
$font: 'PT Sans Narrow', sans-serif;

// colors
$accent-color: #61d43a;
$blue-color: #22c0e7;
$dark-accent-color: darken($accent-color, 10%);
$dark-blue-color: darken($blue-color, 10%);
$dark-color: #33333a;
$dark-text: #333;
$dim-color: #999;
$light-color: #f4f4f4;

// timings
$anim-time: 0.2s;
