.header {
}

.header-container {
  @include page-section-container;
}

.header-child.btn {
  border: 1px solid $light-color;
  color: $light-color;
  font-size: 1.75em;
  text-decoration: none;

  transition: border-color $anim-time, box-shadow $anim-time;

  padding: 0.5em;

  &:hover {
    border-color: $accent-color;
    box-shadow: 0 0 10px $accent-color;
  }
}