.product {
  cursor: pointer;

  transition: background-color $anim-time, box-shadow $anim-time, opacity $anim-time;

  width: $product-width;
  padding: $product-padding;

  &:not(.selected):not(.disabled):hover {
    background-color: $light-dark-color;
  }

  &.selected {
    background-color: $subtle-accent-color;
    box-shadow: 0 0 $product-selected-box-shadow-width $accent-color;

    &:hover {
      background-color: $light-subtle-accent-color;
    }
  }

  &.disabled {
    cursor: default;
    opacity: $disabled-opacity;
  }

  > img {
    width: #{$product-width - $product-padding * 2};
    height: auto;
  }

  > header > * {
    margin: 0.5em 0;
  }
}
