.product {
  cursor: pointer;

  transition: opacity $anim-time;

  width: $product-width;
  padding: $product-padding;

  &:not(.selected):not(.disabled):hover {
    border: $product-selected-border-width solid $dark-light-color;
    padding: calc(#{$product-padding} - #{$product-selected-border-width});
  }

  &.selected {
    border: $product-selected-border-width solid $accent-color;
    padding: calc(#{$product-padding} - #{$product-selected-border-width});
  }

  &.disabled {
    cursor: default;
    opacity: $disabled-opacity;
  }

  > img {
    width: #{$product-width - $product-padding * 2};
    height: auto;
  }

  > header > * {
    margin: 0.5em 0;
  }

  .text {
    line-height: 1.4;
  }
}
