$lab-tile-padding: 0.75em;
$lab-transparency: 0.3;

.lab-section-tiles {
  // flex
  display: flex;
  flex-wrap: wrap;
}

@mixin tile-contents-compensated($border-width) {
  $padding-compensated: calc(#{$lab-tile-padding} - #{$border-width});

  background-position: -#{$border-width} -#{$border-width};

  .lab-tile-header {
    padding: $padding-compensated $padding-compensated $lab-tile-padding $padding-compensated
  }

  .lab-tile-details {
    padding: $lab-tile-padding $padding-compensated $padding-compensated $padding-compensated;
  }
}

.lab-tile {
  $border-width: 3px;
  $size: 300px;

  background-position: -#{$border-width} -#{$border-width};
  background-size: $size $size;
  border: $border-width solid transparentize(#000, $lab-transparency);
  border-radius: 5px;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: border-color $anim-time;

  width: $size;
  height: $size;
  margin: 1em;
  overflow: hidden;

  &:hover {
    border-color: transparentize($accent-color, 1 - $lab-transparency);
  }

  &.active {
    border-color: transparentize($accent-color, $lab-transparency);
  }
}

.lab-tile-header {
  background-color: transparentize(#000, $lab-transparency);

  transition: background-color $anim-time;

  padding: $lab-tile-padding;
}

.lab-tile-text {
  margin: 0;
  line-height: 1.2;
}

.lab-tile-brand {
  @include sans-serif-font($bold: true);

  transition: color $anim-time;

  color: $dim-color;
}

.lab-tile-details {
  @include sans-serif-font($bold: true);
  @extend .lab-tile-text;

  padding: $lab-tile-padding;

  ul {
    list-style: none;

    margin: 0;
    padding: 0;
  }

  li:not(:last-child) {
    margin-bottom: 0.5em;
  }
}
