.lab-section {
  $transparency: 0.3;

  > header {
    margin: 1em;

    // flex
    display: flex;
    align-items: center;

    .line {
      border-bottom: 1px solid $dim-color;

      flex-grow: 1;
    }

    p {
      @include monospace-font($size: 2em);

      margin: 0 1em;
    }
  }

  > main {
    // flex
    display: flex;
    flex-wrap: wrap;

    .tile {
      $border-width: 3px;
      $size: 300px;

      background-position: -#{$border-width};
      background-size: $size;
      border: $border-width solid transparentize(#000, $transparency);
      border-radius: 5px;
      cursor: pointer;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      transition: border-color $anim-time;

      width: $size;
      height: $size;
      margin: 1em;
      overflow: hidden;

      &:hover {
        border-color: transparentize($accent-color, 1 - $transparency);
      }
    }

    .tile > header {
      background-color: transparentize(#000, $transparency);

      transition: background-color $anim-time;

      padding: 0.5em;

      // flex
      display: flex;
      align-items: center;

      .nametag {
        flex-grow: 1;
      }

      .nametag .text {
        margin: 0;
      }

      .nametag .brand {
        @include monospace-font;

        color: $dim-color;

        margin-bottom: 0.25em;
      }

      .nametag .name {
        @include monospace-font($bold: true, $size: 1.5em);
      }
    }

    .tile.active {
      border-color: transparentize($accent-color, $transparency);
    }
  }
}
