@(componentsJson: String)

@master(title = "Lab", scripts = "lab.js") {
    <template id="tile-template">
        <div class="tile" :class="{ active: active }" v-on:click="select" :style="{ backgroundImage: 'url(' + component.preview_img_url + ')' }">
            <header>
                <div class="nametag">
                    <h2 class="text brand">{{ component.brand }}</h2>
                    <h1 class="text name">{{ component.name }}</h1>
                </div>
                <img src="@routes.Assets.versioned("images/arrow.svg")" height="20px"/>
            </header>
        </div>
    </template>

    <template id="lab-section-template">
        <section class="lab-section">
            <header>
                <div class="line"></div>
                <p>{{ section.name }}</p>
                <div class="line"></div>
            </header>

            <main>
                <tile v-for="c in section.components" :key="c.id" :component="c"></tile>
            </main>
        </section>
    </template>

    <div id="vue">
        <lab-section v-for="s in sections" :key="s.name" :section="s"></lab-section>
    </div>

    <script type="application/json" id="components">@Html(componentsJson)</script>
}
