@import db.models.components.Components

@(all: Components)

@master(title = "Lab", scripts = "lab.js") {
    @partials.labSection("Chassis", "chassis", all.chassis)
    @partials.labSection("Processor", "processor", all.processors)
    @partials.labSection("Motherboard", "motherboard", all.motherboards)
    @partials.labSection("Graphics", "graphics-card", all.graphicsCards)
    @partials.labSection("Memory", "memory-stick", all.memorySticks)
    @partials.labSection("Cooling", "cooling-solution", all.coolingSolutions)
    @partials.labSection("Storage", "storage-device", all.storageDevices)
    @partials.labSection("Power Supply", "power-supply", all.powerSupplies)
}
