@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Source+Sans+Pro:200,400">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">

        <title>@title &mdash; PCLab</title>
    </head>

    <body>
        @partials.header(title)

        <main class="main">
            @content
        </main>

        @partials.footer()
    </body>
</html>
